@use "./partials/variables" as *;
@use "./partials/header";
@import "~bootstrap/scss/bootstrap.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.ms_card {
    // padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    // border: 3px solid red;

    .thumb {
        position: relative;
        top: 0;
        left: 0;

        .container-tag {
            display: flex;
            font-size: 0.7rem;
            font-weight: 700;
            position: absolute;
            bottom: 5px;
            left: 0;
            

            .tag {
                padding: 5px;
                color: white;
                margin: 0 3px;
            }

            .green {
                background-color: green;
            }

            .red {
                background-color: red;
            }
        }

        .heart {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 10px;
            right: 0;
            min-width: 30px;
            aspect-ratio: 1;
            background-color: white;
            z-index: 999;

            &:hover {
                color: red;
            }
        }

        .show {
            position: relative;
            top: 0;
            left: 0;
            min-height: 350px;
            max-height: 350px;

        }

        .hidden {

            opacity: 0;
            // padding: 30px;
            position: absolute;
            top: 0px;
            left: 0;

            min-height: 350px;
            max-height: 350px;


            &:hover {
                // border: 3px solid green;
                opacity: 1;
            }

        }

    }
}