
@use "./partials/variables" as *;
@use "./partials/header";
@use "./partials/footer";

@import "~bootstrap/scss/bootstrap.scss";
//Importo Fontawesome
@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.ms_card {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border: 2px solid green;

    .thumb {
        position: relative;
        top: 0;
        left: 0;

        .container-tag {
            display: flex;
            font-size: 0.7rem;
            font-weight: 700;
            position: absolute;
            bottom: 5px;
            left: 0;
            

            .tag {
                padding: 5px;
                color: white;
                margin: 0 3px;
            }

            .green {
                background-color: green;
            }

            .red {
                background-color: red;
            }
        }

        .heart {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 10px;
            right: 0;
            min-width: 30px;
            aspect-ratio: 1;
            background-color: white;
            z-index: 999;

            &:hover {
                color: red;
            }

            .active {
                color: red;
            }
        }

        .show {
            position: relative;
            top: 0;
            left: 0;
            min-height: 350px;
            max-height: 100%;

        }

        .hidden {
            opacity: 0;
            // padding: 30px;
            position: absolute;
            top: 0px;
            left: 0;

            min-height: 350px;
            max-height: 100%;


            &:hover {
                // border: 3px solid green;
                opacity: 1;
            }

        }

    }

    .card-text {   
        margin-top: 10px;
        align-self: start;
        border: 2px solid black;

        .brand {
            font-size: 0.7rem;
        }
        .name {
            font-size: 0.9rem;
            font-weight: 700;
        }

        .price {
            font-size: 0.7rem;
            font-weight: 700;
            color: red;

            .old-price {
                text-decoration: line-through;
                color: rgb(69, 68, 68);
            }
        }
    }
}