@use "./variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 80px;
    max-height: 80px;
    
    min-width: 100vw;

    background-color: #FF6900;

    .container {
        justify-content: space-around;
        // border: 2px solid white;
    }
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid black;
    img {

        max-width: 200px;
    }
}

.menu {
    
    ul {
        margin-top: 20px ;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        
        li {
            a {
                text-decoration: none;
                color: white;
            }
        }
    }

    .icons {
        min-width: 200px;
        max-width: 200px;
    }
}